.list_container{
	list-style-type: none;
	position: relative;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: 40px;
/*	opacity: 0;*/
}

ul{
	padding: 0px;
}

#groceries{
	font-family: 'Sigmar One', cursive;
	position: relative;
	font-size: 60px;
	text-align: center;
}


