body{
	background-image: url("http://2.bp.blogspot.com/_Tkt_A2r1p6I/TOQs8O2NbSI/AAAAAAAAGZw/hGWFj6dBpHA/s1600/Smith%252C+Sidney+Comic+Strip2.png");
/*	background-repeat: no-repeat;*/
	background-size: 5%;
}

/*i am making "changes" because git is being weird*/


#title{
	font-family: 'Baloo Bhaina', cursive;
	text-align: center;
	position: relative;
	color: black;
	font-size: 70px;
	-webkit-text-stroke: 4px white;
	margin-bottom: -10px;

}

#mainDiv{
	position: relative;
	background-color: white;

/*	how do i change it so that the size of the main div 
	changes relatively to the size of the window browser?*/

	width: 600px;
	height: 600px;
	margin: auto;

	border: 10px solid white;
}


/*------------------------------------------------------------------------*/


#divOne{
/*	border: 20px solid blue;*/

	position: relative;
	float: left;
	vertical-align: top;
	width: 285px;
	height: 285px;

	margin: 10px;
	margin-right: 0px;
}

#divTwo{
/*	border: 1px solid green;*/

	position: relative;
	float: right;
	vertical-align: top;

	width: 285px;
	height: 285px;

	margin: 10px;
	margin-left: 0px;	
}

#divThree{
/*	border: 1px solid yellow;*/

	position: relative;
	float: left;
	vertical-align: bottom;
	width: 285px;
	height: 285px;

	margin: 10px;
	margin-top: 0px;
	margin-right: 0px;
	
}

#divFour{
/*	border: 1px solid red;*/

	position: relative;
	float: right;
	vertical-align: bottom;
	width: 285px;
	height: 285px;

	margin: 10px;
	margin-top: 0px;
	margin-left: 0px;	
}


/*-----------------------------------------------------------------------*/

.comicPanel{
/*	border: 1px solid purple;*/


	position: relative;
	width: 100%;
	height: 60%;

	margin: auto;

}

#panelOne{
	position: relative;
	float: left;
	vertical-align: top;

}

#panelTwo{
	position: relative;
	float: right;
	vertical-align: top;

}

#panelThree{
	position: relative;
	float: left;
	vertical-align: bottom;
}

#panelFour{
	position: relative;
	float: right;
	vertical-align: bottom;
}

/*------------------------------------------------------------------------*/

.search{
	position: relative;
	width: 100%;
	max-width: 170px;
	margin: auto;
	margin-top: 15px;

}

.button{
	position: relative;
	width: 100%;
	max-width: 70px;
	margin: auto;
	margin-top: 10px;

}


#panelOne img{

	position: relative;
	width: 285px;
	height: 150px;
}

#panelTwo img{

	position: relative;
	width: 285px;
	height: 150px;
}

#panelThree img{

	position: relative;
	width: 285px;
	height: 150px;
}

#panelFour img{

	position: relative;
	width: 285px;
	height: 150px;
}












